function Main.main 1
push constant 444
push constant 0
call List.new 2
pop local 0
push constant 4
push constant 44
push local 0
call List.new 2
call List.new 2
pop local 0
push local 0
call List.print 1
pop temp 0
push local 0
call List.dispose 1
pop temp 0
push constant 0
return
